#animated-face {
  margin: 20px;
  background-image: url('md-stock-image.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
  background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}


/* Add animation styles */
.talking {
  animation: talkingAnimation 2s ease-in-out;
}

@keyframes talkingAnimation {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }

}
